body
  font-family: Arial
  font-size: 14px
  margin: 0px
  background-color: rgb(249, 249, 249)

#header
  width: 100%
  background-color: rgb(200, 200, 200)
  border-bottom: 1px solid #000000

#navigation
  text-align: right
  background-color: rgb(220, 220, 220)
  border-left: 1px solid #000000
  border-right: 1px solid #000000
  list-style: none
  min-width: 800px
  width: 80%
  padding: 0px
  margin: 0px
  margin-left: auto
  margin-right: auto

  li
    display: inline-block
    margin: 0px
    padding: 0px

  li#logo
    float: left
    font-size: 25px
    font-weight: bold
    padding: 0px 5px
    line-height: 40px
    border-right: 1px solid #000000

    a
      color: #000000
      display: block
      text-decoration: none
      padding: 0px
      border: none

  li.item a
    color: #000000
    display: block
    text-decoration: none
    padding: 0px 5px
    line-height: 40px
    border-left: 1px solid #000000

.body
  min-width: 800px
  width: 80%
  padding-top: 10px
  padding-bottom: 10px
  margin-left: auto
  margin-right: auto

#footer
  font-size: 12px
  text-align: center
  background-color: rgb(200, 200, 200)
  border-top: 1px solid #000000
  border-bottom: 1px solid #000000
  width: 100%
  padding: 5px 0px
  margin: 0px

h6
  margin: 0px
