#primary-image
  position: relative
  width: 100%
  height: 300px
  border-bottom: 1px solid #000000
  overflow: hidden

  .image
    position: absolute
    top: -5px
    left: -5px
    width: 110%
    height: 110%
    background-image: url('/images/primary-image.jpg')
    background-size: cover
    background-position: center center
    -webkit-filter: blur(4px)
    -moz-filter: blur(4px)
    -o-filter: blur(4px)
    -ms-filter: blur(4px)
    filter: blur(4px)

#tools
  color: #ffffff
  width: 100%
  height: 100px;
  background-color: #333333
  border-top: 1px solid #000000
  border-bottom: 1px solid #000000

#source-stats
  color: #ffffff
  width: 100%
  min-height: 300px;
  background-color: #333333
  border-top: 1px solid #000000

  .loading
    width: 100%
    height: 100%
    text-align: center

  .chart
    display: none
    text-align: center
    padding-top: 25px
    padding-bottom: 30px

    .chart-item
      display: inline-block
      height: 25px
      padding-bottom: 15px

      table
        td
          width: 100px
          text-overflow: ellipsis

        td.canvas-td
          width: 300px

  .notice
    width: 800px
    margin-left: auto
    margin-right: auto
    text-align: center
    font-style: italic
    font-size: 12px
    padding-top: 10px
