<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Braden Walters - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  </head>
  <body>
    <ul id="navigation">
      <li id="logo"><a href="/">Braden Walters</a></li>
      <li class="item"><a href="/places">Places I've Been</a></li>
      <li class="item"><a href="/blog">Blog</a></li>
      <li class="item"><a href="/projects">Projects</a></li>
      <li class="item"><a href="/about_me">About Me</a></li>
      <li class="item"><a href="/">Home</a></li>
    </ul>
    <div style="clear: both;" />

    $body$

    <div id="footer">
      Copyright &copy; 2015 - 2016 Braden Walters <br />
      Site built using <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
    </div>
  </body>
</html>
