<link rel="stylesheet" type="text/css" href="/css/index.css" />
<script type="text/javascript" src="/js/source_stats.js"></script>

<div id="primary-image">
  <div class="image"></div>
</div>

<div class="body">
  <p>
    You've reached the website of Braden Walters, a software developer living in
    Dresden, Germany. I have a professional specialisation in web development,
    but also have non-professional experience with game development, mobile
    development, and 3D graphics.
  </p>

  <p>
    In web development I see myself primarily as a backend developer. My
    experience with web frameworks includes mostly macro-frameworks, such as
    <a href="http://yesodweb.com" target="blank">Yesod</a>,
    <a href="http://rubyonrails.org" target="blank">Ruby on Rails</a>,
    <a href="http://djangoproject.com" target="blank">Django</a>,
    <a href="http://framework.zend.com" target="blank">Zend Framework</a>,
    <a href="http://asp.net/mvc" target="blank">ASP.NET MVC</a>.
    I also have a moderate amount of front-end experience, including use of
    JavaScript and CoffeeScript as well as libraries like
    <a href="http://jquery.org" target="blank">jQuery</a> and
    <a href="http://underscorejs.org" target="blank">Underscore</a>.
  </p>

  <p>
    I have a strong preference for functional and declarative programming, as
    well as strong type systems. I value the predictability of functional code
    as well as the compile-time checks that a strong type system offers. Such
    compile-time checks allow me to write code for which the compiler can
    detect most defects before the code ever reaches a production system.
  </p>
</div>

<div id="tools">
</div>

<div class="body">
  <p>
    All of my personal projects are available on GitHub. Unlike my professional
    work, which is quite specialised, my personal projects are far more varied
    and therefore show a lot about my preferences in tools and types of
    projects, as well as other compentencies which I have developed. In
    addition, all of this code is Free and Open Source (FOSS) and therefore you
    can look at it and do almost whatever you want to with it. Have fun!
  </p>
</div>

<script id="source-stats-item-template" type="text/underscore">
  <div class="chart-item">
    <table>
      <tbody>
        <tr>
          <td><%= language %></td>
          <td><%= percent %>%</td>
          <td>
            <canvas class="canvas" width="300" height="30"></canvas>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<div id="source-stats">
  <div class="chart">
    <h3>Code Written on GitHub *</h3>
    <div class="items"></div>
    <div class="notice">
      * These statistics include all code written in all non-forked
      repositories. This may be slightly inaccurate, as code from other
      contributors may exist in my repositories, and code that I wrote may exist
      in foreign repositories. Regardless, the statistics give an idea of how
      much I have written in each language.
    </div>
  </div>

  <table class="loading">
    <tbody>
      <tr>
        <td class="loading-text">
          This can only be displayed with JavaScript.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
// <![CDATA[
  jQuery(document).ready(function() {
    var source_stats = new SourceStats(jQuery('#source-stats'),
      jQuery('#source-stats-item-template'));
    source_stats.loadData('meoblast001', function() {
        source_stats.render();
      });
  });
// ]]>
</script>

<div id="account-links" class="body">
  <p>
    Find me on the following websites:<br />
    <a href="https://github.com/meoblast001" target="blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>

    <a href="https://twitter.com/meoblast001" target="blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="https://linkedin.com/in/meoblast001" target="blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>

    <a href="https://www.flickr.com/photos/73102775@N05" target="blank">
      <i class="fa fa-flickr" aria-hidden="true"></i>
    </a>
  </p>
</div>
