<link rel="stylesheet" type="text/css" href="/css/index.css" />

<div id="primary-image">
  <div class="image"></div>
  <div class="text">
    <table>
      <tr>
        <td>
          Software Developer<br />
          Dresden, Germany
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="body">
  <p>
    I'm a software developer that lives in Dresden, Germany. This is my personal
    website. You can find professional information about me here. Some content
    may not be software-related, such as some blog posts and photography
    (still getting around to that though).
  </p>
</div>

<div id="account-links" class="body">
  <p>
    Find me on the following websites:<br />
    <a href="https://github.com/meoblast001" target="blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>

    <a href="https://twitter.com/meoblast001" target="blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="https://linkedin.com/in/meoblast001" target="blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </p>
</div>

<div class="body cv">
 <h3>CV: </h3>
 [<a href="docs/cv-en.pdf">Cirriculum Vitae in English</a>]
 [<a href="docs/cv-de.pdf">Lebenslauf auf Deutsch</a>]
</div>
