<link rel="stylesheet" type="text/css" href="/css/index.css" />

<div id="primary-image">
  <div class="image"></div>
  <div class="text">
    <table>
      <tr>
        <td>
          Braden Walters<br />
          Software Developer<br />
          Berlin, Germany
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="body">
  <p>
    I'm a software developer that lives in Berlin, Germany. This is my personal website. You can mostly find
    professional information about me here, but not only that.
  </p>

  <p>
    My software development background includes game development, web development in both frontend and backend, and
    some desktop GUI development. More about this can be found on the Technologies page.
  </p>

  <p>
    I hope to get more photography content on here. Stay tuned (hopefully).
  </p>
</div>

<div id="account-links" class="body">
  <p>
    Find me on the following websites:<br />
    <a href="https://github.com/meoblast001" target="blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>

    <a href="https://twitter.com/meoblast001" target="blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="https://linkedin.com/in/meoblast001" target="blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </p>
</div>

<div class="body cv">
 <h3>CV: </h3>
 [<a href="docs/cv-en.pdf">Cirriculum Vitae in English</a>]
 [<a href="docs/cv-de.pdf">Lebenslauf auf Deutsch</a>]
</div>
